html {

}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: #333;
  clear: both;
}

#soundbuttons {
  margin-bottom: 15px;
}

.soundRow {
  position: relative;
  background-color:white;
}

.soundButton {
  border: 1px solid black;
  padding: 2px 100px 2px 2px;
  margin: 3px;
}

.soundButton:hover {
  color: red;
  cursor: pointer;
}

.soundSource {
  position: absolute;
  top:4px;
  right:8px;
}
