html {

}
body {
  margin: 0;
  padding: 20px;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: #333;
  clear: both;
}

#soundbuttons {
  margin-bottom: 15px;
}

.soundRow {
  position: relative;
  background-color:#eee;
}

.soundRow.active {
  background-color:#DC381F;
  color: white;
}

.soundButton {
  padding: 5px 100px 5px 5px;
  margin: 5px;
}

.soundButton:hover {
  color: red;
  cursor: pointer;
}

.soundSource {
  position: absolute;
  top:4px;
  right:8px;
}
